.top {
    padding: 50px;
    background: blue;
}

.heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    color: white;
}

.company-charts-info {
    display: flex;
    flex-direction: row;
}

.company-info-div {
    display: flex;
 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px;
}

.chart-heading {
 font-size: 20px;
}

.info-box {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    transform: translateY(50px);
}

.line-chart {
    border: 1px solid black;
    transform: translateY(50px);
    
}