
.top {
    padding: 45px;
    background: rgba(29,29,31,0.6);;
}

.heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.dropdown {
    display: flex;
    flex-direction: row;
    padding: 25px;
    padding-left: 50px;
}



.selection-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 600;
    padding-right: 10px;
}

.company-charts-info {
    display: flex;
    flex-direction: row;
   justify-content: center;
}

.company-info-div {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
}

.company-chart-div {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px;
    width: 600px;
    height: 800px;;
}

/* .stock-info {
    /* display: flex; */
    /* flex-direction: row; */
/* } */

.closing-div {
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.chart-heading {
 font-size: 20px;
}

.change-price {
    font-size: 20px;
}

.info-box {
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    /* transform: translateY(20px); */
}

.symb {
    font-size: 45px;
    font-weight: 600;
    padding-left: 10px;
    color: white;
}

.exch {
    padding-top: 4px;
    color: #464e56;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.close-time {
    color: #464e56;
    font-weight: 400;
    font-size: 15px;
    
}

.table-info {
    line-height: 1.7;
    vertical-align: top;
    color: white;
    /* padding-top: 10px; */
}
.bold {
    font-weight: 600;
    color: white;
}

.line-chart {
    border: 1px solid white;
    border-radius: 5px;
    border-radius: 3px;
    background: rgb(28, 27, 27);
    color: white;
    /* transform: translateY(20px); */
    
}

.comp-name {
    font-size: 45px;
    font-weight: 600;
    color: white;
}

.change-font {
    font-size: 24px;
    padding-left: 10px;
    
}

.map-div {
    width: 500px;
  
}